rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    
     match /users/{userId} {
      allow read, create,update: if request.auth != null && request.auth.uid == userId;

        // Explicitly define rules for the 'graphsavedtest' subcollection
        match /graphsavedtest/{randomid} {
          allow read, create,update: if request.auth != null && request.auth.uid == userId;
        }
        
        // Explicitly define rules for the 'repofetch' subcollection
        match /repofetch/{randomid} {
          allow read, create,update: if request.auth != null && request.auth.uid == userId;
        }
    }
  }
  
  
}